<div id="container">
	<%= render(:partial => "shared/header") %>
<div class="content">
<h1>Your Invoice</h1>
<div class="roundedcornr_box_659996">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">


<table class="invoices">
  <tr><td class="invoices">Items Purchased: </td><td class="invoices"><%= @invoice.product %></td></tr>
  <tr><td class="invoices">Total Amount Paid: </td><td class="invoices"><%= number_to_currency(@invoice.amount/100) %></td></tr>
  <tr><td class="invoices">Invoice Date: </td><td class="invoices"><%= @invoice.billed_date.strftime("%m/%d/%y") %></td></tr>
  <tr><td class="invoices">Invoice Status: </td><td class="invoices"><%= @invoice.status %></td></tr>
</table>

      </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>
<p>Thank you for your purchase!<br>If you have any questions please call Stephen at 310-896-5638.</p>
<p><strong>Next steps:</strong><br>
Apply your credit to a <%= link_to "saved ad", :controller=>'user', :action=>'manage_ads' %>.<br>
<%= link_to "Create new ad", :controller=>'job_posting', :action=>"addJob" %>.<br>
<%= link_to "View your profile", :controller=>'user', :action=>'index' %>.<br>
</p>

<p>You now have <%= @user.credits %> credits in your account.<p>

</div>
</div>
