<h1>Your Invoice</h1>
<table>
  <tr><td>Items Purchased: </td><td><%= @invoice.product %></td></tr>
  <tr><td>Total Amount Paid: </td><td><%= number_to_currency(@invoice.amount/100) %></td></tr>
  <tr><td>Invoice Date: </td><td><%= @invoice.billed_date.strftime("%m/%d/%y") %></td></tr>
  <tr><td>Invoice Status: </td><td><%= @invoice.status %></td></tr>
</table>

<p>Thank you for your purchase!<br>If you have any questions please call Stephen at 310-738-5495.</p>
<p>Next steps:<br>
Apply your credit to a <%= link_to "saved ad", :controller=>'user', :action=>'manage_ads' %>.<br>
<%= link_to "Create new ad", :controller=>'job_posting', :action=>"addJob" %>.<br>
<%= link_to "View your profile", :controller=>'user', :action=>'index' %>.<br>
</p>

