<div id="container">
	<%= image_tag("sascoder_logo_tagline.gif") %>
<div class="content">
<h1>Please Confirm Your Payment Details</h1>
<p>
<strong>Important:</strong> Your order is not completed until you click <strong>Complete Payment</strong>.
</p>
<div class="roundedcornr_box_659996">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">



  <strong>Name:</strong> <%= @address['name'] %><br><br>
  <strong>Company:</strong> <%= @address['company'] %><br><br>
  <strong>Address 1:</strong> <%= @address['address1'] %><br><br>
  <strong>Address 2:</strong> <%= @address['address2'] %><br><br>
  <strong>City:</strong> <%= @address['city'] %><br><br>
  <strong>State:</strong> <%= @address['state'] %><br><br>
  <strong>Country:</strong> <%= @address['country'] %><br><br>
  <strong>Zip:</strong> <%= @address['zip'] %><br><br>
<table class="invoices">
  <tr><td class="invoices"><strong>Number Of Credits To Be Purchased:</strong></td><td class="invoices"><strong><%= @invoice.product %></strong></td></tr>
  <tr><td class="invoices" ><strong>Total To Be Charged:</strong></td><td class="invoices"><strong><%= number_to_currency(@invoice.amount/100) %></strong></td></tr>
</table>

      </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>

<% form_tag :action => 'complete', :token => params[:token], :payer_id => params[:PayerID] do %>
 &nbsp;&nbsp; <%= submit_tag 'Complete Payment' %>
<% end %>

</div>
</div>