<h3>Jobs Matching Your Search</h3>
<div class="roundedcornr_box_218416">
   <div class="roundedcornr_top_218416"><div></div></div>
      <div class="roundedcornr_content_218416">
		<span class="jobText">
		<table>
		<tr><th class="medium">Date</th> <th class="medium">Title</th> <th class="medium">Duration/Job Type</th> <th class="medium">Location</th> <th class="large">Description</th> </tr>
		<% for job in @jobs %>
		  <tr class="<%= cycle("even", "odd") %>">
		    <td> <%= job.start_run_date.strftime("%m/%d/%y") %> </td>
		    <td> <%= link_to job.title, {:controller=>'search', :action=>'show', :id=>job.id} %> </td>
			<td> <%= h job.job_type %> </td>
			<td> <%= h "#{job.city}, #{job.zip}" %>
				<% if job.telecommute? %>
				  /<br><strong>Telecommute</strong>
				<% end %>
				 </td>
			<td> <%= h job.short_description %> </td>
		  </tr>
		<% end %>
		</table>
		</span>
      </div>
   <div class="roundedcornr_bottom_218416"><div></div></div>
</div>
<hr>
<% if @telecommute == "only" %>
<div style="padding-left:20px">Showing telecommute jobs.</div>
<% else %>
<div class="roundedcornr_box_659996">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">
	
		<table>
		<tr><td><img src=<%= "\"#{@img}\"" %> ></td><td>Search details:<br>
		<p>Full Address: <%= @geo.full_address %></p>
		<% if @geo.precision == "state" %>
		  <p>Showing all jobs in the state.</p>
		<% else %>
		  <p>Showing jobs near <%= @geo.city %>.</p>
		<% end %>
		<p>There were <%= @jobs.length %> jobs found.</p>
		</td></tr></table>

      </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>
<% end %>
