<h1>Jobs Matching Your Search</h1>
<br>
<table>
<tr><td><img src=<%= "#{@img}" %> ></td><td>Search details:<br>
<p>Full Address: <%= @geo.full_address %></p>
<p>Precision: <%= @geo.precision %> </p>
<p>There were <%= @jobs.length %> jobs found.</p>
</td></tr></table>
<hr>
<table>
<tr><th>Date</th> <th>Title</th> <th>Duration/Job Type</th> <th>Location</th> <th>Description</th> </tr>
<% for job in @jobs %>
  <tr>
    <td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.start_run_date %> </td>
    <td style="border-bottom-style: solid; border-width: 1px;"> <%= link_to job.title, {:controller=>'search', :action=>'show', :id=>job.id} %> </td>
	<td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.job_type %> </td>
	<td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.zip %> </td>
	<td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.short_description %> </td>
  </tr>
<% end %>
</table>