
<div id="left">
	<span class="jobText">
    <strong><%= @job.title %></strong><br><br>
    
    <ul class="simple">
      <li><strong>Location:</strong> <%= @city %> </li>
      <li><strong>Job Type:</strong> <%= @job.job_type %> </li>
      <li><strong>Pay: </strong> <%= @job.pay %></li>
    </ul>
	<hr>
    <p><%= simple_format(@job.short_description) %> <br>
    <p><strong>Experience:</strong><br>
	<%= simple_format(@job.experience) %>
    </p>
<p><strong>Description:</strong><br>
<%= simple_format(@job.long_description) %> </p>
<p><strong>Company Name:</strong><br><%= @companyName %></p>

<p><strong>Company Description:</strong><br>
<%= simple_format(@companyDescription) %>
</p>

</span>

</div>

  <div id="right">
		<%= image_tag "mail.png" %>
		<% form_remote_tag :update => "email",  :url=> {:controller=> :apply, :action=> :email, :id => @job.id}  do %>
		<div id="email">
		<p>Email this job to yourself to get the contact details.</p>
           Email <%= text_field_tag(:email, nil, :size=>10) %>
           <%= submit_tag "Send Details" %>
         </div>
      <% end %>
	
  </div>
