<div id="header">
sasCoders.com  Specializing in SAS jobs for SAS Coders and Programmers<br>
<% if session[:user_id] %>
  hello <%= @user.first_name %>
  <%= link_to "Create New Ad", :controller=>'job_posting', :action=>"addJob" %> | 
  <%= link_to "Manage Ads", :controller=>'user', :action=>'manage_ads' %> | 
  <%= link_to "View Profile", :controller=>'user', :action=>'index' %>
<% else %>
  Please sign in: 
  <% form_tag :controller=> :user, :action=> :login do %>
     Email <%= text_field_tag(:email, nil, :size=>10, :class=>"admin") %> &nbsp;
	 Password <%= password_field_tag(:pw, nil, :size=>8, :class=>"admin") %>
     <%= submit_tag "login" %> or
	 <%= button_to 'register', :controller=>'user', :action=>'collect' %>
  <% end %>
<% end %>
<br>
<%= flash[:notice] %><br>
<%= flash[:error] %>

</div>
