<div id="header">
	<table>
		<tr>
			<td>
               <%= link_to image_tag("sascoder_logo_tagline.gif", :alt=>"Specializing in SAS jobs for  SAS Coders and Programmers", :border=>0), :controller=>'site', :action=>'index' %>
            </td>
<td class="employer">
	<div style="float:right;">
	<% if session[:user_id] %>
	<span class="employer-nav">
	  Hello <%= @user.first_name %>
	  <%= link_to "Create New Ad", :controller=>'job_posting', :action=>"addJob" %> | 
	  <%= link_to "Manage Ads", :controller=>'user', :action=>'manage_ads' %> | 
	  <%= link_to "View Profile", :controller=>'user', :action=>'index' %> | 
	  <%= link_to "Log Out", :controller=>'user', :action=>'logout' %>
	</span>
	<% else %>
	     Employers 
	     <%= link_to "Login", :controller=>'user', :action=>"show_login" %> | 
		 <%= link_to 'Register', :controller=>'user', :action=>'collect' %>

	<% end %>
	
    </div>


</td>
</tr>
</table>
<% flash.each do |key,msg| %>
  <%= content_tag :div, msg, :class => "flash", :id => "notice_#{key}" %>
  <% content_tag :script, :type => "text/javascript" do %>
  setTimeout("new Effect.Fade('notice_<%= key %>');", 8000)
  <% end %>
<% end %>
</div>
