<div class="roundedcornr_box_659996">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">
<a href="http://datasteps.blogspot.com"><%= image_tag("live_journal.png", :border=>0) %></a>read:<br>sas programming blog.<br><br>
<a href="http://twitter.com/sasCoder" target="_new"><%= image_tag("twitter.png", :border=>0) %></a>follow:<br> <a href="http://twitter.com/sasCoder" target="_new">@sasCoder</a> on twitter.<br>
      </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>
<br><br>
<div class="roundedcornr_box_659996">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">
	   Quick Search By State:<br>
	<span class="small">
	   <table>
		<tr><td><%= link_to( 'Alabama', :controller=>'search', :action=>'by_state', :state=>'AL' ) %></td>
	    	<td><%= link_to( 'Alaska', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td></tr>
		<tr><td><%= link_to( 'Arizona', :controller=>'search', :action=>'by_state', :state=>'AZ' ) %></td>
			<td><%= link_to('Arkansas', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td></tr>
		<tr><td><%= link_to( 'California', :controller=>'search', :action=>'by_state', :state=>'CA' ) %></td>
			<td><%= link_to('Colorado', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Connecticut', :controller=>'search', :action=>'by_state', :state=>'CT' ) %> </td>
			<td><%= link_to('Delaware', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Florida', :controller=>'search', :action=>'by_state', :state=>'FL' ) %> </td>
			<td><%= link_to('Georgia', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Hawaii', :controller=>'search', :action=>'by_state', :state=>'HI' ) %> </td>
		    <td><%= link_to('Idaho', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Illinois', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Indiana', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Iowa', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Kansas', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Kentucky', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Louisiana', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Maine', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Maryland', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Massachusetts', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Michigan', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Minnesota', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Mississippi', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Missouri', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Montana', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Nebraska', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Nevada', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'New Hampshire', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('New Jersey', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'New Mexico', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('New York', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'North Carolina', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('North Dakota', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Ohio', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Oklahoma', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Oregon', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Pennsylvania', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Rhode Island', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('South Carolina', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'South Dakota', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Tennessee', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Texas', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Utah', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Vermont', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Virginia', :controller=>'search', :action=>'by_state', :state=>'' ) %>  </td></tr>
		<tr><td><%= link_to( 'Washington', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('West Virginia', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td></tr>
		<tr><td><%= link_to( 'Wisconsin', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td>
			<td><%= link_to('Wyoming', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td></tr>
		</table>
		</span>
       </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>

		