<div class="roundedcornr_box_659996">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">
<a href="http://datasteps.blogspot.com"><%= image_tag("live_journal.png", :border=>0) %></a>read:<br>sas programming blog.<br><br>
<a href="http://twitter.com/sasCoder" target="_new"><%= image_tag("twitter.png", :border=>0) %></a>follow:<br> <a href="http://twitter.com/sasCoder" target="_new">@sasCoder</a> on twitter.<br>
      </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>
<br><br>
<div class="roundedcornr_box_659996">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">
	   Quick Search By State:<br>
	<span class="small">
	   <table>
		  <tr><td><%= link_to( 'Alabama', :controller=>'search', :action=>'by_state', :state=>'AL' ) %></td><td>Alaska</td></tr>
		  <tr><td><%= link_to( 'Arizona', :controller=>'search', :action=>'by_state', :state=>'AZ' ) %></td><td>Arkansas</td></tr>
		<tr><td><%= link_to( 'California', :controller=>'search', :action=>'by_state', :state=>'CA' ) %></td><td>Colorado </td></tr>
		<tr><td><%= link_to( 'Connecticut', :controller=>'search', :action=>'by_state', :state=>'CT' ) %> </td><td>Deleware </td></tr>
		<tr><td><%= link_to( 'Florida', :controller=>'search', :action=>'by_state', :state=>'FL' ) %> </td><td>Georgia </td></tr>
		<tr><td><%= link_to( 'Hawaii', :controller=>'search', :action=>'by_state', :state=>'HI' ) %> </td><td>Idaho </td></tr>
		<tr><td><%= link_to( 'Illinois', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Indiana </td></tr>
		<tr><td><%= link_to( 'Iowa', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Kansas </td></tr>
		<tr><td><%= link_to( 'Kentucky', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Louisiana </td></tr>
		<tr><td><%= link_to( 'Maine', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Maryland </td></tr>
		<tr><td><%= link_to( 'Massachusetts', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Michigan </td></tr>
		<tr><td><%= link_to( 'Minnesota', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Mississippi </td></tr>
		<tr><td><%= link_to( 'Missouri', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Montana </td></tr>
		<tr><td><%= link_to( 'Nebraska', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Nevada </td></tr>
		<tr><td><%= link_to( 'New Hampshire', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>New Jersey </td></tr>
		<tr><td><%= link_to( 'New Mexico', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>New York </td></tr>
		<tr><td><%= link_to( 'North Carolina', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>North Dakota </td></tr>
		<tr><td><%= link_to( 'Ohio', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Oklahoma </td></tr>
		<tr><td><%= link_to( 'Oregon', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Pennsylvania </td></tr>
		<tr><td><%= link_to( 'Rhode Island', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>South Carolina </td></tr>
		<tr><td><%= link_to( 'South Dakota', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Tennessee </td></tr>
		<tr><td><%= link_to( 'Texas', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Utah </td></tr>
		<tr><td><%= link_to( 'Vermont', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Virginia </td></tr>
		<tr><td><%= link_to( 'Washington', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>West Virginia</td></tr>
		<tr><td><%= link_to( 'Wisconsin', :controller=>'search', :action=>'by_state', :state=>'' ) %> </td><td>Wyoming </td></tr>
		</table>
		</span>
       </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>

		