<p>Enter an address to search for jobs that are close.<br>For most searches a simple zip code will suffice,<br>
but you can be as specific as you want.<br>To see all jobs in a particular state, just enter that state. </p>
<fieldset class="inner">

<% form_tag( {:controller=>'search', :action=>'index'}, {:method => :get} ) do %>
  <fieldset class="inner">
  <%= label_tag 'City:'<br> %> <%= text_field_tag :city, params[:city], :size=>15 %><br><br>
  <%= label_tag 'State:'<br> %>  <%= text_field_tag :state, params[:state], :size=>2 %><br><br>
  <%= label_tag 'Zipcode:'<br> %>  <%= text_field_tag :zip, params[:zip], :size=>7 %><br><br>
  <%= label_tag 'Country:'<br> %>  <%= text_field_tag :country, params[:country], :size=>3 %><br><br>
  
  <%= label_tag 'Distance:'<br> %></td>
  <%= select_tag "within", options_for_select(%w{5 10 15 25},"10") %><br>Miles<br><br>
  
  </fieldset>
  
  
  
    <fieldset class="optional">
  <legend>Optional</legend>
  <%= label_tag 'Telecommute Jobs:' %>
  <%= select_tag 'telecommute', options_for_select(%w{include exclude only}, "include") %>
  
  </fieldset><br>
  <%= submit_tag "Search!" %>
<% end %>
