<span id="left" >
		<h3>Register with sasCoders.com</h3>
		<div style="border: 1px solid #616a71; font-size:80%; padding: 8px; margin-left:20px;">
			Hello,<br><br>Thank you for your interest in sasCoders.com.  My name is Stephen Philp and I created sasCoders.com.  As a SAS consultant, I wanted to create a site where I can help other SAS programmers find jobs that suit their skills.  And provide a straightforward space where recruiters can advertise for skilled talent.  <br><br>
			I look forward to working with you, -Stephen
		</div><br><br>
		<% form_tag :controller=>:user, :action=>:register do %>
		<div class="roundedcornr_box_659996">
		   <div class="roundedcornr_top_659996"><div></div></div>
		      <div class="roundedcornr_content_659996">
				<div class="required"><%= label_tag "Email:" %><%= error_message_on(:user, :email) %></div>
				 <%= text_field_tag :email, params[:email], :size=>40 %><span style="color:red">*</span> 
				<p style="font-size:80%"><span style="color:red">*</span> This is the email address used as the response address for your job listings.  We will also use this address to communicate with you (invoices, etc). <strong>But this address is kept private and never shown on our site.</strong></p>


				<div class="required"> <%= label_tag "password:" %></div>
				<%= password_field_tag :password, params[:password] %><%= error_message_on(:user, :password) %>

				<div class="required"> <%= label_tag "password_confirmation:" %></div>
				<%= password_field_tag :password_confirmation, params[:password_confirmation] %><%= error_message_on(:user, :password_confirmation) %>
		      </div>
		   <div class="roundedcornr_bottom_659996"><div></div></div>
		</div>
<br><br>
		<div class="roundedcornr_box_659996">
		   <div class="roundedcornr_top_659996"><div></div></div>
		      <div class="roundedcornr_content_659996">
				<div class="optional"><%= label_tag "First Name:" %></div>
				<%= text_field_tag :first_name, params[:first_name], :size=>40 %>

				<div class="optional"><%= label_tag "Last Name:" %></div>
				<%= text_field_tag :last_name, params[:last_name], :size=>40 %>
				<div class="optional"><%= label_tag "Telephone #:" %></div>
				<%= text_field_tag :telephone, params[:telephone], :size=>40 %><span style="color:red">*</span>
				<p style="font-size:80%"><span style="color:red">*</span>We only ask for a phone number so we can contact you if there are any questions with billing, ad layout, etc.  We <strong>do NOT</strong> share your phone number with anyone.</p>
				</div>
				
		     
		   <div class="roundedcornr_bottom_659996"><div></div></div>
		</div>
						<br><br>
		<div class="roundedcornr_box_659996">
		   <div class="roundedcornr_top_659996"><div></div></div>
		      <div class="roundedcornr_content_659996">
				<div class="optional"><%= label_tag "Company Name:" %></div>
				<%= text_field_tag :company, params[:company], :size=>40 %>
				<div class="optional"><%= label_tag "Web Site:" %></div>
				<%= text_field_tag :web_site, params[:web_site], :size=>40 %>
				<div class="optional">Do you do the primary hiring, or work for a recruiting company?
				<%= select_tag(:company_type, options_for_select( %w{Primary Recruiter}) ) %></div>
		      </div>
		   <div class="roundedcornr_bottom_659996"><div></div></div>
		</div>
		
		<br>
		<%= submit_tag 'Register', :class => "button" %> 
		<br><br>* Kept private.  Not shown on the site.
		<% end %>				
		
		

</span>
<span id="right">
	<div class="roundedcornr_box_659996">
	   <div class="roundedcornr_top_659996"><div></div></div>
	      <div class="roundedcornr_content_659996">
		<div class="question-img"></div>

			<div class="notes">
				<h4>Questions</h4>
				My name is Stephen and I own sasCoders.com.<br><br>
				Feel free to contact me with any questions:<br><br> support at sas coders dot com </br> 310-896-5638
		
		    </div>
		</div>
		<div class="roundedcornr_bottom_659996"><div></div></div>
		</div>
	
</span>
