<%= flash[:notice] %><br><br>
<%= flash[:error] %>
<table>

<tr>
	<td valign=top>
		<h3>Edit Your Profile</h3>
		<% form_for :u, :url => {:action => :save} do |form| %>
		  
		<div class="fields">

		<p>Email 
		<%= @user.email %></p>

		
		<p>First Name<br>
		<%= form.text_field :first_name,  {:size=>40, :value=>@user.first_name} %></p>
		<p>Last Name<br>
		<%= form.text_field :last_name,  {:size=>40, :value=>@user.last_name} %></p>
		<p>Telephone #<br>
		<%= form.text_field :telephone, { :size=>40, :value=>@user.telephone} %>*</p>
		<p>Company Name<br>
		<%= form.text_field :company, {:size=>40, :value=>@user.company} %></p>
		<p>Web Site<br>
		<%= form.text_field :web_site, {:size=>40, :value=>@user.web_site} %></p>
		<p>Company Description<br>
		<%= form.text_area :company_description, {:rows=>8, :value=>@user.company_description} %></p>
		
		<%= submit_tag 'Save', :class => "button" %> 
		<br><br>* Kept private.  Not shown on the site.
  		</div>
		<% end %>

				</td>
	</tr>
</table>
