<h1>Your Ads</h1>

<br><br>
<span class="jobText">
		<div class="roundedcornr_box_659996">
		   <div class="roundedcornr_top_659996"><div></div></div>
		      <div class="roundedcornr_content_659996">
				<strong>Ads Not Running</strong><br><br>
				<table border="1">
				<tr><th>Reference ID</th><th>Last Visible Date</th> <th>Title</th> <th>Duration/Job Type</th> <th>Location</th> <th>Description</th><th>Apply Credits</th></tr>
				<% for job in @user.jobs_expired %>
				  <tr>
				    <td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.reference_id %> </td>
				    <% if job.end_date.blank? %>
				      <td style="border-bottom-style: solid; border-width: 1px;">none</td>
				    <% else %>
				      <td style="border-bottom-style: solid; border-width: 1px;"> <%= job.end_date.strftime("%m/%d/%y") %> </td>    
				   <% end %>
				<td style="border-bottom-style: solid; border-width: 1px;"> <%= link_to job.title, {:controller=>'job_posting', :action=>'edit', :id=>job.id} %> </td>
					<td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.job_type %> </td>
					<td style="border-bottom-style: solid; border-width: 1px;"> <%= h "#{job.city},#{job.zip}" %> </td>
					<td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.short_description %> </td>
					<td style="border-bottom-style: solid; border-width: 1px;"> <%= button_to "Apply Credits", {:controller=>'job_posting', :action=>'apply_credit', :id=>job.id} %>  </td>
				  </tr>
				<% end %>
				</table>
		      </div>
		   <div class="roundedcornr_bottom_659996"><div></div></div>
		</div>
		
			
		
		
		<br><br>
		
		<div class="roundedcornr_box_659996">
		   <div class="roundedcornr_top_659996"><div></div></div>
		      <div class="roundedcornr_content_659996">
				<strong>Currently Running Ads</strong><br><br>
				<table border="1">
				<tr><th>Reference ID</th><th>Start Date</th><th>Expires In</th> <th>Title</th> <th>Duration/Job Type</th> <th>Location</th> <th>Description</th><th>Apply Credits</th> </tr>
				<% for job in @user.jobs_running %>
				  <tr>
				    <td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.reference_id %> </td>
				    <td style="border-bottom-style: solid; border-width: 1px;"> <%= job.start_run_date.strftime("%m/%d/%y") %> </td>
					<td style="border-bottom-style: solid; border-width: 1px;"> <%= distance_of_time_in_words(Time.now, job.end_date) %> </td>
				    <td style="border-bottom-style: solid; border-width: 1px;"> <%= link_to job.title, {:controller=>'job_posting', :action=>'edit', :id=>job.id} %> </td>
					<td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.job_type %> </td>
					<td style="border-bottom-style: solid; border-width: 1px;"> <%= h "#{job.city},#{job.zip}" %> </td>
					<td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.short_description %> </td>
					<td style="border-bottom-style: solid; border-width: 1px;"> <%= button_to "Apply Credits", {:controller=>'job_posting', :action=>'apply_credit', :id=>job.id} %>  </td>
				  </tr>
				<% end %>
				</table>
		
		      </div>
		   <div class="roundedcornr_bottom_659996"><div></div></div>
		</div>
</span>
			
