<%= flash[:notice] %><br><br>
<%= flash[:error] %>
<table>

<tr>
	<td valign=top>
		<h3>Register with sasCoders.com</h3>
		<% form_for :user, :url => {:action => :register} do |form| %>
		  
		<div class="fields">

		<p>"Email" 
		<%= form.text_field :email, {:size=>40, :value=>@user.email} %>*</p>

		
		<p>"First Name"
		<%= form.text_field :first_name,  {:size=>40, :value=>@user.first_name} %></p>
		<p>"First Name"
		<%= form.text_field :last_name,  {:size=>40, :value=>@user.last_name} %></p>
		<p>"Telephone #"
		<%= form.text_field :telephone, { :size=>40, :value=>@user.telephone} %>*</p>
		<p>"Company Name"
		<%= form.text_field :company, {:size=>40, :value=>@user.company} %></p>
		<p>"Company Description"
		<%= form.text_field :company_description, {:size=>40, :value=>@user.company_description} %></p>
		
		<%= submit_tag 'Register', :class => "button" %> 
		<br><br>* Kept private.  Not shown on the site.
  		</div>
		<% end %>

				</td>
	</tr>
</table>
