<div id="container">
<%= render(:partial => "shared/header") %>
<h1>Your Profile</h1>
<span id="left">
<div style="clear:both;">
		
	      <strong>Name:</strong><br> <%= "#{@user.first_name} #{@user.last_name}" %><br><br>
	      <strong>Company:</strong><br> <%= @user.company %><br><br>
		  <strong>Web Site:</strong><br> <%= @user.web_site %><br><br>
	      <strong>Company Description:</strong><br> <%= simple_format(@user.company_description) %><br><br>
		  <%= link_to image_tag("tools.png", :border=>0), :controller=>'user', :action=>'edit' %><%= link_to 'edit profile', :controller=>'user', :action=>'edit' %><br><br>
	    
      </div>
</span>

  
 <%= render(:partial => "user/index") %>
</div>
