<h1>Your Ads</h1>
<br>
We have to put in links to edit the job details, and apply credits to a job.<br>
<table>
<tr><th>Date</th> <th>Title</th> <th>Duration/Job Type</th> <th>Location</th> <th>Description</th> </tr>
<% for job in @user.jobPostings %>
  <tr>
    <td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.start_run_date %> </td>
    <td style="border-bottom-style: solid; border-width: 1px;"> <%= link_to job.title, {:controller=>'job_posting', :action=>'edit', :id=>job.id} %> </td>
	<td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.job_type %> </td>
	<td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.zip %> </td>
	<td style="border-bottom-style: solid; border-width: 1px;"> <%= h job.short_description %> </td>
  </tr>
<% end %>
</table>