<div id="container">
<%= render(:partial => "shared/header") %>


<div id="content">
 <%= render(:partial => "user/manage_ads") %>
</div>
<div id="sidebar" style="padding-top: 4cm;">
  	<div class="roundedcornr_box_659996">
	   <div class="roundedcornr_top_659996"><div></div></div>
	      <div class="roundedcornr_content_659996">
		  <div class="info-img"></div>
		This page shows all the ads you have created.  <strong>Ads Not Listed</strong> shows ads that need credit applied to be listed on the site.
		  
			<br><br>
			
			<div class="doc-img"></div>
				 <%= link_to "Create New Ad", :controller=>'job_posting', :action=>"addJob" %>
				<br><br>
				
				<p>You have <strong><%= "#{@user.credits}" %></strong> credits to apply to your ads.</p>
				<div class="cash-img"></div>
			    <%= link_to "Purchase", :controller=>'buy_credits' %> credits.</p>
			
	      </div>
	   <div class="roundedcornr_bottom_659996"><div></div></div>
	</div>
</div>

<div id="footer">
</div>

</div>
