<div class="roundedcornr_box_659996">
   <div class="roundedcornr_top_659996"><div></div></div>
      <div class="roundedcornr_content_659996">
		<p>
		 <strong>Job Title:</strong> <%= @job.title %>
		</p>

		<strong>Job Successfully Created</strong>
		  <br><br>
		    <p>Saved Ads: <%= link_to "#{@user.jobPostings.length}", :controller=>'user', :action=>'manage_ads' %></a></p>
		    <p>Currently Running Ads: <%= link_to "#{@user.jobs_running.length}", :controller=>'user', :action=>'manage_ads' %></p>		    
		    <p><strong>Next Steps:</strong><br> <%= link_to 'Purchase Credits', :controller=>'buy_credits' %> <br><%= link_to "Apply Credits To This Job", :action=>'apply_credit', :id=>@job %></p>

      </div>
   <div class="roundedcornr_bottom_659996"><div></div></div>
</div>
