

<% form_for :jobPosting, :url => {:action=>:create} do |form| %>
  <p>Title: <%= form.text_field :title, :size=>30 %></p>
  <p>Your Company Name: <%= @user.company %> </p>
  <p>Your Company Type: <%= @user.company_type %> </p>
  <p>Short Description: <%= form.text_area :short_description, :rows=>3 %> </p>
  <p>Long Description: <%= form.text_area :long_description, :rows=>6 %> </p>
  <p>Telecommute? <%= form.check_box :telecommute %>
  <p>Zip: <%= form.text_field :zip, :size=> 6 %> </p>
  <p>Job Type: <%= form.text_field :job_type, :size=>30 %> </p>
  <p>Experience Required: <%= form.text_area :experience, :rows=>2 %> </p>
  <p>Pay: <%= form.text_field :pay, :size=>7 %> </p>
  <p>Additional Instructions: <%= form.text_area :addl_instructions, :rows=>3 %> </p>
  <hr>
  <p>Start Date For Ad: <%= form.text_field :start_run_date, :size=>9 %> Leave blank if you want it to start
  as soon as it's approved.</p>
  
  <p><%= submit_tag %></p>
  
<% end %>